@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.box1 {
    border-color: black;
}

.box2 {
    border: 10px solid black;
    font: normal 20px 'Pacifico', sans-serif;

}

.box3 {
    border: 10px solid black;
    text-align: justify;
}

body {
    background-color: black;
    color: white;
}

html {
    font-family: sans-serif;
}



.cat {
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 0%;
    margin: 0px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: black;
}

td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

/* tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
} */

caption {
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h1 {
    background-color: bisque;
}

/* h2 {
    background-color: aqua;
} */

h3 {
    background-color: #172252;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-bottom: 10px;
}

#Beh {
    max-width: 100%;
    max-height: 800px;
    padding: 30px;
    display: flex;
    justify-content: center;
    /*Центрирование по горизонтали*/
    align-items: center;
    /*Центрирование по вертикали */
    background-color: #3a4062;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    line-height: 30px;
}

#Env {
    max-width: 100%;
    max-height: 800px;
    padding: 30px;
    display: flex;
    justify-content: center;
    /*Центрирование по горизонтали*/
    align-items: center;
    /*Центрирование по вертикали */
    background-color: #3a4062;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.card {
    max-width: 100%;
    max-height: 800px;
    padding: 30px;
    display: flex;
    justify-content: center;
    /*Центрирование по горизонтали*/
    align-items: center;
    /*Центрирование по вертикали */
    background-color: #3a4062;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.list {
    background: #000000;
    padding: 0;
    margin: 0;
    /* list-style: none; */
    padding-left: 10px;
}

.list li {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 5px;
    border-top: 1px solid #3a4062;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

nav {
    /* width: 500px; */
    margin: 20px;
    /* align-content: center; */
}

nav ol {
    color: #3a4062;
}

nav p {
    /* color: aqua; */
    font-size: 0.9rem;
    font-style: italic;
    padding: 10px;
}

.list li a {
    color: #3a4062;
    text-decoration: none;
}

.list li a:hover {
    color: white;
}

.list li a:active {
    color: #bdc2d6;
}

.list li a:visited {
    text-decoration: line-through;
    /* color: aqua; */
}

.list li:hover {
    background-color: #172252;
}


.btn {
    margin: 20px;
    width: 100px;
    height: 40px;
    border-style: none;
    background-color: #2f439b;
    /* bleed: 30px #red; */

}

.btn:hover {
    background-color: aquamarine;
    box-shadow: 0 0 15px aquamarine;
    color: darkcyan;
    transition: 200ms;
}

/* .deco {
    width: 19%;
    height: 20px;
    /* margin: auto 10px ; */
    background: #3a4062;
    display: inline-block;
    border: 2px solid #3a4062;
    box-sizing: content-box;
}

.foot {
    width: 300px;
} */